[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "AudioLib/tinywav"]
	path = AudioLib/tinywav
	url = git@github.com:Kharzette/tinywav.git
[submodule "dxvk-native"]
	path = dxvk-native
	url = git@github.com:Kharzette/dxvk-native.git
[submodule "uthash"]
	path = uthash
	url = git@github.com:troydhanson/uthash.git
[submodule "GrogHLSLCompileTool"]
	path = GrogHLSLCompileTool
	url = git@github.com:Kharzette/GrogHLSLCompileTool.git
[submodule "cglm"]
	path = cglm
	url = git@github.com:Kharzette/cglm.git
[submodule "ShaderLib"]
	path = ShaderLib
	url = git@github.com:Kharzette/ShaderLib.git
