[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "AudioLib/tinywav"]
	path = AudioLib/tinywav
	url = git@github.com:Kharzette/tinywav.git
[submodule "AudioLib/FAudio"]
	path = AudioLib/FAudio
	url = git@github.com:Kharzette/FAudio.git
[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "dxvk-native"]
	path = dxvk-native
	url = git@github.com:Kharzette/dxvk-native.git
[submodule "uthash"]
	path = uthash
	url = git@github.com:troydhanson/uthash.git
[submodule "GrogHLSLCompileTool"]
	path = GrogHLSLCompileTool
	url = git@github.com:Kharzette/GrogHLSLCompileTool.git
[submodule "libpng"]
	path = libpng
	url = git@github.com:glennrp/libpng.git
[submodule "cglm"]
	path = cglm
	url = git@github.com:Kharzette/cglm.git
