[submodule "vcpkg"]
	path = vcpkg
	url = git@github.com:microsoft/vcpkg.git
[submodule "AudioLib/tinywav"]
	path = AudioLib/tinywav
	url = git@github.com:Kharzette/tinywav.git
[submodule "AudioLib/FAudio"]
	path = AudioLib/FAudio
	url = git@github.com:Kharzette/FAudio.git
[submodule "SDL"]
	path = SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "dxvk"]
	path = dxvk
	url = git@github.com:doitsujin/dxvk.git
